
<div class="status">
    <span ng-class="getPropagationStatusIconClass()"></span>
    <span ng-repeat="allowedPlatform in getAllowedPlatforms()">
        {{getPropagationStatusText(allowedPlatform)}}
    </span>
</div>
<div class="divider"></div>

<div class="auto-propagate">
    <span>Auto Propagate</span>
    <div class="toggled-indicator" ng-class="{ 'active': autoPropagateEnabled, 'inactive': !autoPropagateEnabled }" ng-click="toggleAutoPropagate()"></div>
</div>
<div class="publish">
    
    <div class="btn-group icon-button publish-group" uib-dropdown>
        <button type="button" class="btn btn-outline-primary btn-xs dropdown-default border-radius-8"
            ng-disabled="getAllowedPlatforms().length === 0" ng-click="propagatePlatformChanges('all')">
            <span ng-class="getPropagationIconClass()"></span>
            {{ getPropagationText() }}
        </button>
        <button type="button"
            class="btn btn-outline-primary btn-xs dropdown-toggle dropdown-toggle-split border-radius-8" ng-disabled="getAllowedPlatforms().length === 0"
            uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li role="menuitem" ng-if="isPlatformPropagateAllowed('amazon')">
                <a ng-click="propagatePlatformChanges('amazon')"
                    ng-class="{'dropdown-item': !isPlatformPropagateAvailable('amazon'), 'dropdown-item bold': isPlatformPropagateAvailable('amazon')}"
                    title="Add session start block" href="javascript:void(0);">
                    Propagate to Amazon
                </a>
            </li>
            <li role="menuitem" ng-if="isPlatformPropagateAllowed('dialogflow_es')">
                <a ng-click="propagatePlatformChanges('dialogflow_es')"
                   ng-class="{'dropdown-item': !isPlatformPropagateAvailable('dialogflow_es'), 'dropdown-item bold': isPlatformPropagateAvailable('dialogflow_es')}"
                   title="Add session start block" href="javascript:void(0);">
                    Propagate to Dialogflow ES
                </a>
            </li>
            <li role="menuitem" ng-if="isPlatformPropagateAllowed('dialogflow')">
                <a ng-click="propagatePlatformChanges('dialogflow')"
                    ng-class="{'dropdown-item': !isPlatformPropagateAvailable('dialogflow'), 'dropdown-item bold': isPlatformPropagateAvailable('dialogflow')}"
                    title="Add session start block" href="javascript:void(0);">
                    Propagate to Dialogflow
                </a>
            </li>
            <li role="menuitem" ng-if="isPlatformPropagateAllowed('facebook_messenger')">
                <a ng-click="propagatePlatformChanges('facebook_messenger')"
                    ng-class="{'dropdown-item': !isPlatformPropagateAvailable('facebook_messenger'), 'dropdown-item bold': isPlatformPropagateAvailable('facebook_messenger')}"
                    title="Add session start block" href="javascript:void(0);">
                    Propagate to Messenger
                </a>
            </li>
            <li role="menuitem" ng-if="isPlatformPropagateAllowed('viber')">
                <a ng-click="propagatePlatformChanges('viber')"
                    ng-class="{'dropdown-item': !isPlatformPropagateAvailable('viber'), 'dropdown-item bold': isPlatformPropagateAvailable('viber')}"
                    title="Add session start block" href="javascript:void(0);">
                    Propagate to Viber
                </a>
            </li>
            <li role="menuitem" ng-repeat="platform in getExternalPlatforms() track by platform.platform_id" 
                ng-if="isPlatformPropagateAllowed( platform.platform_id)">
                <a ng-click="propagatePlatformChanges( platform.platform_id)"
                    ng-class="{'dropdown-item': !isPlatformPropagateAvailable( platform.platform_id), 'dropdown-item bold': isPlatformPropagateAvailable( platform.platform_id)}"
                    title="" href="javascript:void(0);">
                    Propagate to {{platform.name}}
                </a>
            </li>
        </ul>
    </div>
    
</div>