node_modules/
*.cache
*.min.css
*.min.js
.DS_Store
*.zip
vendor/
storage/logs/
/bower_components/
/.yalc/
dist/
build/
/.settings/
/.project
/.buildpath
/.workspace
/composer-local.lock
.php-cs-fixer.cache
_bak/
