node_modules/
*.min.css
*.min.js
.DS_Store
*.zip
vendor/
storage/logs/
/bower_components/
dist/
build/
/.settings/
/.project
/.buildpath
composer-marky.json
composer-marky.lock
composer-dev.json
composer-dev.lock