.convo-chat
{
    pre {
        margin: 5px 0;
    }

    pre > code {
        display: block;
        padding: 5px 10px;
    }

    input[type=text]
    {
        font-size: 14px;
        padding: 5px 10px;
        height: 2.5em;
    }

    .chat
    {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .chat li.chat-message
    {
        padding: 2px 2px;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        font-weight: 500;
        /*border-bottom: 1px dotted #B3A9A9;*/
    }

.chat li .chat-body h1
    {
        font-size: 1.75em;
        font-weight: 600;
    }
    .chat li .chat-body h2
    {
        font-size: 1.5em;
        margin-block-end: 0.5em;
        font-weight: 600;
    }

    .chat li .chat-body h3
    {
        font-size: 1.25em;
        margin-block-end: 0.5em;
        font-weight: 600;
    }

    .chat li .chat-body h4
    {
        font-size: 1em;
        margin-block-end: 0.5em;
        font-weight: 500;
    }



.chat li.chat-message ul, .chat li.chat-message ol {
    display: block;
    list-style: disc outside none;
    margin: 5px 0;
    padding: 0 0 0 15px;
    line-height: 1em;
    margin-block-start: 5px;
}
.chat li.chat-message ol {
    list-style-type: decimal;
}

.chat li.chat-message li {
    display: list-item;
    margin-bottom: 0;
    line-height: 1.5em;
}

.chat li.chat-message li > p {
    display: inline;
}


    .right { float: right; }
    .left { float: left; }

    .chat li.chat-message .chat-body
    {
        max-width: 600px;
        padding: 5px 10px;
        border-radius: 12px;
        font-size: 12px;
    }

    .chat li.chat-message .chat-body.system-message
    {
        border-top-left-radius: 0;
        background-color: #ececec;
        text-align: left;
        border: 1px solid #ececec;
        color: black !important;
    }

    .chat li.chat-message .chat-body.user-message
    {
        border-top-right-radius: 0;
        border: 1px solid #5595dd;
        background-color: #5595dd;
        color: white !important;
        white-space: pre-wrap;
    }

    .chat li .chat-body blockquote
    {
        margin: 0;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-color: rgba(0,0,0,.7);
        border-left-width: 2px;
    }

    .chat li .chat-body blockquote p
    {
        font-weight: 600;
        font-size: 1em;
        line-height: 1.5em;
    }

    .chat li .chat-body img
    {
        max-width: 90%;
    }


    .chat li.chat-message .chat-body p
    {
        margin: 5px 0;
    }

    .chat .chat-img img
    {
        margin: 2px 6px 0 0;
        width: 40px;
    }

    .card-header {
        background-color: #2F74EA;
        color: white;
    }

    .card-header i {
        font-size: 18px;
    }

    .card .slidedown .fa, .chat .fa
    {
        margin-right: 5px;
    }

    .card-body
    {
        overflow-y: scroll;
        height: 55vh;
        min-height: 350px;
    }

    .card-footer {
        padding: 5px 15px;
    }

    .convo-form-group {
        font-family: "DM Sans", sans-serif;

        margin-bottom: 20px;
    }

    .convo-form-group.inline input,
    .convo-form-group.inline button
    {
        display: inline;
    }
    .convo-form-group .convo-form-input {
        border: 1px solid rgba(0,0,0,0.08);
        border-radius: 8px;
        width: 100%;
        padding: 6px 11px;
        transition: border-color 100ms ease-in-out;
    }

    .convo-form-group .convo-form-input:focus {
        border: 1px solid #2F74EA;
    }

    .convo-form-group input.convo-form-input {
        height: 40px;
    }


    button.btn, a.btn {
        border-radius: 20px;
        font-size: 14px;
        font-weight: 500;
        color: white;
        transition: background-color 50ms ease-in, border-color 50ms ease-in;
    }


    #chat
    {
        display: flex;
        flex-flow: row nowrap;

        justify-content: center;
        align-items: center;

        margin-bottom: 0;
    }

    #chat-panel-body
    {
        padding: 10px;
    }


    #message, #send {
        margin: 0;
        display: inline-block;
    }

    #chat #message {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    #send {
        height: 60px;
        width: 55px;
        border-radius: 0 8px 8px 0;
    }



    .lds-ellipsis {
    //  display: inline-block;
        position: relative;
        width: 80px;
        height: 25px;
        float: left;
    }
    .lds-ellipsis div {
        position: absolute;
        top: 8px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #aaa;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
        left: 10px;
        animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
        0% {
        transform: scale(0);
        }
        100% {
        transform: scale(1);
        }
    }
    @keyframes lds-ellipsis3 {
        0% {
        transform: scale(1);
        }
        100% {
        transform: scale(0);
        }
    }
    @keyframes lds-ellipsis2 {
        0% {
        transform: translate(0, 0);
        }
        100% {
        transform: translate(24px, 0);
        }
    }

}

