<div properties-context service-id="serviceId">
	<div ng-if="isReady()">
		<div class="header">

			<div class="row" class="service-container">
				<div class="col-md-6">
					<h1 class="text-muted">&nbsp; {{ ::getSelection().service.name }}
						<span title="Back to all services"
						      class="back-link-text">(<a href="#!/convoworks-editor"
						>&lt;&lt; Back</a>)</span>
					</h1>
				</div>
				<div class="col-md-6">
                    <h1 class="text-muted">
                        <form ng-submit="saveChanges()"
                            ng-class="{'invisible': !(tabInfo1.active == 'workflow' || tabInfo1.active == 'variables' || tabInfo1.active == 'intents')}"
                            style=" float: left;">
                            <button type="submit" title="Save changes"
                                    ng-disabled="!isServiceChanged()"
                                    class="btn btn-primary">
                            <span> <i ng-class="{'spinning':loading}"
                                      class="pull-left glyphicon glyphicon-refresh"></i></span> &nbsp;&nbsp;&nbsp; Save
                            </button>
                            <button type="button"
                                    ng-click="revertClicked()"
                                    title="Revert changes" ng-disabled="!isServiceChanged()"
                                    class="btn btn-default" style="">Revert</button>
                        </form>
                        <form ng-submit="propagatePlatformChanges( 'amazon')" ng-if="isPlatformPropagateAllowed( 'amazon')"
                         style=" float: left; margin-left: 10px;">
                            <button type="submit" title="Propagate changes to Amazon"
                                    ng-disabled="!isPlatformPropagateAvailable( 'amazon')"
                                    class="btn btn-warning btn-xs">
                            <span> <i ng-class="{'spinning':loading}"
                                      class="pull-left glyphicon glyphicon-share-alt"></i></span> &nbsp;&nbsp; Amazon
                            </button>
                        </form>

                       <form ng-submit="propagatePlatformChanges( 'dialogflow')" ng-if="isPlatformPropagateAllowed( 'dialogflow')"
                        style=" float: left; margin-right: 5px;">
                            <button type="submit" title="Propagate changes to Dialogflow"
                                    ng-disabled="!isPlatformPropagateAvailable( 'dialogflow')"

                                    class="btn btn-warning btn-xs">
                            <span> <i ng-class="{'spinning':loading}"
                                      class="pull-left glyphicon glyphicon-share-alt"></i></span> &nbsp;&nbsp; Dialogflow
                            </button>
                        </form>

                        <form ng-submit="propagatePlatformChanges( 'facebook_messenger')" ng-if="isPlatformPropagateAllowed( 'facebook_messenger')"
                              style=" float: left; margin-right: 5px;">
                            <button type="submit" title="Propagate changes to Facebook Messenger"
                                    ng-disabled="!isPlatformPropagateAvailable( 'facebook_messenger')"

                                    class="btn btn-warning btn-xs">
                            <span> <i ng-class="{'spinning':loading}"
                                      class="pull-left glyphicon glyphicon-share-alt"></i></span> &nbsp;&nbsp; Facebook Messenger
                            </button>
                        </form>

                        <form ng-submit="propagatePlatformChanges( 'viber')" ng-if="isPlatformPropagateAllowed( 'viber')"
                              style=" float: left; margin-right: 5px;">
                            <button type="submit" title="Propagate changes to Viber"
                                    ng-disabled="!isPlatformPropagateAvailable( 'viber')"

                                    class="btn btn-warning btn-xs">
                            <span> <i ng-class="{'spinning':loading}"
                                      class="pull-left glyphicon glyphicon-share-alt"></i></span> &nbsp;&nbsp; Viber
                            </button>
                        </form>

						<form ng-submit="propagatePlatformChanges( 'all')"
							  style=" float: left; margin-right: 5px;" ng-if="isPlatformPropagateAllowed( 'amazon') && isPlatformPropagateAllowed( 'dialogflow') && isPlatformPropagateAllowed( 'facebook_messenger') && isPlatformPropagateAllowed( 'viber')">
							<button type="submit" title="Propagate changes to all available platforms"
									ng-disabled="!isPlatformPropagateAvailable( 'amazon') && !isPlatformPropagateAvailable( 'dialogflow') && !isPlatformPropagateAvailable( 'facebook_messenger') && isPlatformPropagateAllowed( 'viber')"

									class="btn btn-warning btn-xs">
                            <span> <i ng-class="{'spinning':loading}"
									  class="pull-left glyphicon glyphicon-share-alt"></i></span> &nbsp;&nbsp; All
							</button>
						</form>

                        </h1>
				</div>
			</div>
		</div>

        <uib-tabset  active="tabInfo1.active">
            <uib-tab index="'workflow'" select="tab1Select('workflow')">
                <uib-tab-heading>
                    Workflow
                </uib-tab-heading>

                <div class="row workflow-row">
                    <div class="col-md-3">
                        <div class="toolbox-container">
                            <convoworks-toolbox
                                definitions="getDefinitions()"
                                available-packages="getAvailablePackages()"
                                service="getSelection().service"></convoworks-toolbox>
                        </div>
                    </div>

                    <div class="col-md-5 nopadding">
                        <uib-tabset active="tabInfo2.active">
                            <uib-tab index="'steps'" select="tab2Select('steps')">
                                <uib-tab-heading>
                                    <div id="tab_steps" class="drop-tab">Conversation</div>
                                </uib-tab-heading>

                                    <div class="blocks-section-header">
                                        Blocks ({{getBlocks().length}})
                                        <button type="button" class="btn btn-default btn-xs icon-button"
                                                ng-click="addNewBlock()" title="Add new step (conversation block)">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </div>
                                    <block-component
                                            ng-repeat="block in getBlocks() track by block.properties._component_id"
                                            can-move-up="canBlockMoveUp(block.properties.block_id)"
                                            can-move-down="canBlockMoveDown(block.properties.block_id)"
                                            block="block">
                                    </block-component>
                            </uib-tab>

                            <uib-tab index="'subroutines'" select="tab2Select('subroutines')">
                                <uib-tab-heading>
                                    <div id="tab_subroutines" class="drop-tab">Fragments</div>
                                </uib-tab-heading>

                                <div class="nopadding soubrutines">
                                    <div class="blocks-section-header">
                                        Fragments ({{getSubroutines().length}})

                                        <button type="button" class="btn btn-default btn-xs icon-button"
                                                ng-click="showNewProcessSubroutine()" title="Add new process workflow fragment">
                                            <span class="glyphicon glyphicon-flash"></span>
                                        </button>

                                        <button type="button" class="btn btn-default btn-xs icon-button"
                                                ng-click="showNewReadSubroutine()" title="Add new read workflow fragment">
                                            <span class="glyphicon glyphicon-tasks"></span>
                                        </button>
                                    </div>
                                    <subroutine-component
                                            ng-repeat="block in getSubroutines() track by block.properties._component_id"
                                            can-move-up="canFragmentMoveUp(block.properties.fragment_id)"
                                            can-move-down="canFragmentMoveDown(block.properties.fragment_id)"
                                            block="block">
                                    </subroutine-component>
                                </div>
                            </uib-tab>

                            <uib-tab index="'contexts'" select="tab2Select('contexts')">
                                <uib-tab-heading>
                                    Contexts
                                </uib-tab-heading>
                                <div>
                                    <context-elements-container service="getSelection().service"></context-elements-container>
                                </div>
                            </uib-tab>

                        </uib-tabset>
                    </div>

                    <div class="col-md-4">
                        <div class="properties-editor-wrapper">
                            <properties-editor
                                    ng-if="getSelection().component"
                                    component="getSelection().component"
                                    definition="getSelection().definition"
                                    service="getSelection().service"></properties-editor>
                        </div>
                    </div>
                </div>


            </uib-tab>

            <uib-tab index="'variables'" select="tab1Select('variables')">
                <uib-tab-heading>
                    Variables
                </uib-tab-heading>

                <div class="row">
                    <div class="col-md-6">
                        <variables-editor service="getSelection().service"></variables-editor>
                    </div>
                    <div class="col-md-6">
                        <preview-variables-editor service="getSelection().service"></preview-variables-editor>
                    </div>
                </div>

            </uib-tab>

            <uib-tab index="'intents'" select="tab1Select('intents')">
                <uib-tab-heading>
                    Intents
                </uib-tab-heading>

                <div class="row">
                    <div class="col-md-6">
                        <intent-editor service="getSelection().service"></intent-editor>
                    </div>
                    <div class="col-md-6">
                        <entity-editor service="getSelection().service"></entity-editor>
                    </div>
                </div>

            </uib-tab>

            <uib-tab index="'configuration'" select="tab1Select('configuration')">
                <uib-tab-heading>
                    Configuration
                </uib-tab-heading>
                <div class="row">
                    <div class="col-md-6">
                        <config-service-meta-editor service="getSelection().service"></config-service-meta-editor>
                    </div>
                    <div class="col-md-6">
                        <config-amazon-editor service="getSelection().service"></config-amazon-editor>
                        <config-dialogflow-editor service="getSelection().service"></config-dialogflow-editor>
                        <config-messenger-editor service="getSelection().service"></config-messenger-editor>
                        <config-viber-editor service="getSelection().service"></config-viber-editor>
                        <config-convo-chat-editor service="getSelection().service"></config-convo-chat-editor>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="'releases'" select="tab1Select('releases')">
                <uib-tab-heading>
                    Releases
                </uib-tab-heading>

                <div class="row">
                    <div class="col-md-6">
                        <releases-editor service="getSelection().service"></releases-editor>
                    </div>
                    <div class="col-md-6">
                        <h4>All versions</h4>
                        <versions-editor service="getSelection().service"></versions-editor>
                    </div>
                </div>

<!--                 <div class="row wide-panel"> -->
<!--                     <div class="col-md-12"> -->
<!--                       <fieldset> -->
<!--                              <releases-editor service="getSelection().service"></releases-editor> -->
<!--                        </fieldset> -->
<!--                        <hr> -->
<!--                       <fieldset> -->
<!--                             <legend>Versions</legend> -->
<!--                             <versions-editor service="getSelection().service"></versions-editor> -->
<!--                        </fieldset> -->
<!--                     </div> -->
<!--                 </div> -->
            </uib-tab>

            <uib-tab index="'preview'" select="tab1Select('preview')">
                <uib-tab-heading>
                    Preview
                </uib-tab-heading>
                <div class="wide-panel">
                    <preview-panel service="getSelection().service"></preview-panel>
                </div>
            </uib-tab>

            <uib-tab index="'test'" select="tab1Select('test')">
                <uib-tab-heading>
                    Test
                </uib-tab-heading>
                <div class="row">
                    <div class="col-md-6">
                        <label for="delegateNlp" class="control-label">
                            NLP Delegate
                            <select
                                class="form-control"
                                name="delegateNlp"
                                id="delegateNlp"
                                ng-model="delegateNlp">
                                    <option value="amazon">Amazon</option>
                                    <option value="dialogflow">Dialogflow</option>
                            </select>
                        </label>
                        <convo-chatbox name="'Test'" device-id="getDeviceId()" service-id="serviceId" collapsed="false" mode="'admin'"
                            toggle-debug="toggleDebug" delegate-nlp="delegateNlp" variables="variables" exception="exception"></convo-chatbox>
                    </div>
                    <div class="col-md-6">

                        <div class="checkbox" style="float: right">
                            <label for="enableDebug">
                                <input id="enableDebug" type="checkbox" ng-model="toggleDebug"/>
                                Enable Debug
                            </label>
                        </div>

                        <div style="font-family: monospace; border: 1px solid #bbb; padding: 0 10px; margin: 0 0 10px 0" class="panel-debug" ng-if="toggleDebug === true">
                            <h3>Debug</h3>
                            <div class="panel-debug-variables">
                                <h4>Variables</h4>
                                <div style="overflow: auto" class="panel-debug-variables-in-request">
                                    <p>Vars in request: </p>
                                    <pre>{{ variables.vars_in_request }}</pre>
                                </div>
                                <div style="overflow: auto" class="panel-debug-variables-in-session">
                                    <span>Vars in session: </span>
                                    <pre>{{ variables.vars_in_session }}</pre>
                                </div>
                                <div style="overflow: auto" class="panel-debug-variables-in-installation">
                                    <span>Vars in installation: </span>
                                    <pre>{{ variables.vars_in_installation }}</pre>
                                </div>
                            </div>

                            <div style="word-break: break-word" ng-if="exception.exceptionMessage" class="panel-debug-exception">
                                <h4>Exception</h4>
                                <p>Exception message: <b>{{ exception.exceptionMessage }}</b></p>
                                <span>Stack trace:</span>
                                <ul class="list-unstyled">
                                    <li ng-repeat="message in exception.exceptionStackTrace">
                                        <p><b>#{{ message }}</b></p>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </uib-tab>
            <uib-tab index="'import-export'" select="tab1Select('import-export')">
                <uib-tab-heading>
                    Import / Export
                </uib-tab-heading>

                <div class="row wide-panel">
                    <div class="col-md-12">
                        <misc-panel service="getSelection().service"></misc-panel>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>

	</div>
</div>
