<div class="convo-chat">
    <div ng-hide="!collapsed">
        <button type="button" class="btn start-chat" title="" ng-click="open()">
            <i class="fa fa-comment fa-2x"></i>
        </button>
    </div>
    <div class="card" ng-hide="collapsed">
        <div class="card-header">
<!--             <i class="fa fa-comment fa-2x"></i>  -->
            {{ name }}
            <div class="btn-group right">
	            <button type="button" class="btn" title="Minimize chatbox" ng-click="close()">
                    <i class="fa fa-window-minimize"></i>
                </button>
	            <button type="button" class="btn" title="End chat session" ng-click="reset()">
                    <i class="fa fa-window-close"></i>
                </button>
            </div>
        </div>
        <div class="panel-collapse" id="collapseOne">
            <div class="card-body" id="chat-panel-body">
                <ul class="chat">
                    <li class="clearfix" ng-repeat="message in messages track by $index" 
                        ng-class="{ 'break' : message.type == 'break'}">
                        <div ng-if="message.type != 'break'" class="clearfix chat-body" 
                        ng-class="{ 'right user-message' : message.source == 'user', 'left system-message' : message.source == 'convo'}"
                        ng-bind-html="applyMarkdown( message)"></div>
                    </li>
                </ul>
                <div style="height:6px; clear: both;"></div>
                <div class="lds-ellipsis" ng-if="isSending()"><div></div><div></div><div></div><div></div></div>
            </div>
            <div class="card-footer">
                <form ng-submit="formSubmitted()">
                    <div class="convo-form-group inline" id="chat">
                        
                        <input ng-model="message" autocomplete="off" id="message" type="text"
                               class="convo-form-input" placeholder="Type your message here..." ng-disabled="isSending()">
                        <button ng-disabled="formDisabled()" class="btn btn-send" id="send" type="submit">
                            <i class="fa fa-paper-plane"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
