<div class="convo-chat">
    <div ng-hide="!collapsed">
        <button type="button" class="btn btn-outline-primary btn-xs no-border-radius" title="" ng-click="collapsed = false">
            <i class="fa fa-comment fa-2x"></i>
        </button>
    </div>
    <div class="card" ng-hide="collapsed">
        <div class="card-header">
<!--             <i class="fa fa-comment fa-2x"></i>  -->
            &nbsp; {{ name }}
            <div class="btn-group right">
                <button type="button" class="btn btn-outline-primary btn-xs no-border-radius" title="Use this button to reset session. To reset installation, reload the page (to mimic first time use)." ng-click="resetChat()">
	                <i class="fa fa-sync"></i>
                </button>
	            <button type="button" class="btn btn-outline-primary btn-xs no-border-radius" title="Collapse chatbox" ng-click="collapsed = true">
                    <i class="fa fa-chevron-down"></i>
                </button>
            </div>
        </div>
        <div class="panel-collapse" id="collapseOne">
            <div class="card-body" id="chat-panel-body">
                <ul class="chat">
                    <li class="clearfix" ng-repeat="message in messages track by $index" >
                        <div ng-if="message.type == 'break'" style="height:6px;">
                        </div>
                        <div ng-if="message.type != 'break'" class="clearfix chat-body" 
                        ng-class="{ 'right user-message' : message.source == 'user', 'left system-message' : message.source == 'convo'}">{{ message.text }}</div>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <form ng-submit="formSubmitted()">
                    <div class="convo-form-group inline" id="chat">
                        <input ng-model="message" autocomplete="off" id="message" type="text"
                               class="convo-form-input" placeholder="Type your message here..." ng-disabled="isSending()">
                        <button ng-disabled="formDisabled()" class="btn btn-warning btn-sm" id="send" type="submit">
                            Send
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
