
.convo-chat
{
    
    input[type=text]
    {
        font-size: 0.75em;
        padding: 5px 10px;
        height: 2.5em;
    }
    
    .chat
    {
        list-style: none;
        margin: 0!important;
        padding: 0!important;
    }
    
    .chat li
    {
        padding: 2px 2px;
        margin: 0;
        position: relative;
        clear: both;
//        list-style: none;
    }
    
    .right { float: right; }
    .left { float: left; }
    
    .btn-group, .btn-group-vertical {
        position: relative;
        display: -ms-inline-flexbox;
        display: inline-flex;
        vertical-align: middle;
    }
    
    .chat li .chat-body
    {
        max-width: 93%;
        padding: 5px 10px;
        border-radius: 12px;
        font-size: 0.75em;
    }
    
    .chat li .chat-body code
    {
        font-size: 87.5%;
        color: #e83e8c;
        word-wrap: break-word;
    }
    
    .chat li .chat-body pre
    {
        display: block;
        font-size: 87.5%;
        color: #212529;
        margin-top: 0;
        margin-bottom: 1rem;
        overflow: auto;
    }
    
    .chat li .chat-body pre code
    {
        font-size: inherit;
        color: inherit;
        word-break: normal;
        background: rgba(0,0,0,.07);
        unicode-bidi: embed;
    }
    
   
.chat li .chat-body ul, .chat li .chat-body ol { 
    display: block;
    list-style: disc outside none;
    margin: 0;
    padding: 0 0 0 10px;
    line-height: 1em;
}
.chat li .chat-body ol { 
    list-style-type: decimal;
}

.chat li .chat-body li { 
    display: list-item;
    margin-bottom: 0;
    line-height: 1.5em;
}

.chat li .chat-body li > p { 
    display: inline;
}


    
    
    .chat li .chat-body.system-message
    {
        border-top-left-radius: 0;
        background-color: #ececec;
        text-align: left;
        border: 1px solid #ececec;
        color: black !important;
        white-space: break-spaces;
    }
    
    .chat li .chat-body.user-message
    {
        border-top-right-radius: 0;
        border: 1px solid #5595dd;
        background-color: #5595dd;
        color: white !important;
        white-space: break-spaces;
    }
    
    
    .chat li .chat-body p
    {
        margin: 0;
    }
    
    .chat .chat-img img
    {
        margin: 2px 6px 0 0;
        width: 40px;
    }
    
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
//        width: 380px;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid transparent;
        border-radius: 0.5em;
        box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
    }
    
    .card-header {
        background-color: #2F74EA;
        color: white;
        padding: 0.75em 1em;
        margin-bottom: 0;
        border-bottom: 1px solid rgba(0,0,0,.125);
        font-weight: 600;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
    }
    
    .card-header i {
        font-size: 1.5em;
    }
    
    .card .slidedown .fa, .chat .fa
    {
        margin-right: 5px;
    }
    
    .card-body
    {
        overflow-y: scroll;
//        height: 420px;
    }
    

    
    .convo-form-group {
        font-family: inherit;
        margin-bottom: 1em;
    }
    
    .convo-form-group.inline input,
    .convo-form-group.inline button
    {
        display: inline;
        outline-width: 1px;
        outline-offset: -1px;
        outline-style: solid;
        outline-color: #bbb;
    }
    .convo-form-group .convo-form-input {
        border: 1px solid #bbb;
        border-radius: 8px;
        width: 100%;
        padding: 0.3em 0.5em;
        transition: border-color 100ms ease-in-out;
        font-family: inherit;
    }
    
    .convo-form-group .convo-form-input:focus {
        outline-color: #2F74EA;
        border-color: #2F74EA;
    }
    
    
    input::placeholder {
        /* modern browser */
        color: #bbb;
    }
    
    
    button.btn, a.btn {
        border-radius: 0px;
        font-size: 0.9em;
        font-weight: 500;
        font-family: inherit;
        color: white;
        transition: background-color 50ms ease-in;
        background-color: #2F74EA;
        border: none;
        outline: none;
        padding: 0;
        text-transform: none;
        margin: 0 2px 0 8px;
    }
    
    .card-header .btn-group button.btn {
        margin: 0 2px 0 8px!important;
    }
    
    button.btn:hover, a.btn:hover {
        background-color: #007bff;
        cursor: pointer;
    }
    
    button.btn.start-chat {
        border-radius: 50%;
        padding: 0.75em;
        cursor: pointer;
        box-shadow: 5px 5px 25px 0 rgba(46,61,73,0.2);
    }
       
    
    #chat
    {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: stretch;
        margin-bottom: -1px;
    }
    
    #chat-panel-body
    {
        padding: 0.5em;
    }
    
    .card-footer {
        padding: 0;
    
        background-color: rgba(0,0,0,.03);
        
        button.btn-send {
            color: #2F74EA;
            background-color: white;
            border: 1px solid #2F74EA;
            outline-color: #2F74EA;
            outline-offset: -1px;
            border-collapse: collapse;
        }
        
        .convo-form-input[disabled="disabled"], button.btn-send[disabled="disabled"] {
            color: #bbb;
            outline-color: #bbb;
            border: 1px solid #bbb;
        }
        
        button.btn-send:hover, button.btn-send:focus {
            color: white;
            background-color: #2F74EA;
            outline-color: #2F74EA;
        }
        
        button.btn-send[disabled="disabled"]:hover {
            color: #bbb;
            outline-color: #bbb;
            border: 1px solid #bbb;
            background-color: white;
        }
        
        #message, #send {
            margin: 0;
            display: inline-block;
        }
        
        #chat #message {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        
        #send {
            width: 55px;
            border-radius: 0 8px 8px 0;
            font-size: 1em;
        }
    }
    
    
    
.lds-ellipsis {
//  display: inline-block;
  position: relative;
  width: 80px;
  height: 40px;
  float: left;
}
.lds-ellipsis div {
  position: absolute;
  top: 13px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #aaa;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
    
    
}

