<div>
    <div class="wide-panel meta">
        <config-service-meta-editor service="service"></config-service-meta-editor>
    </div>
    <div class="wide-panel full configs">
        <!-- System Platforms -->
        <div ng-repeat="platform in systemPlatforms track by platform.platform_id" class="config-square card-pane">
            <div class="logo {{platform.icon_class}}"></div>
            <br>
            <div class="name-indicator">
                <span class="platform-name">
                    {{platform.display_name || platform.name}}
                    <i ng-if="platform.warning_tooltip" class="fa fa-exclamation-circle text-danger" uib-tooltip="{{platform.warning_tooltip}}"></i>
                </span>
                <div class="toggled-indicator" ng-class="{'active': configEnabled(platform.platform_id), 'inactive': !configEnabled(platform.platform_id)}"></div>
            </div>
            <a ui-sref="{{platform.route}}" class="btn btn-lg configure" ng-class="{ 'btn-primary' : configEnabled(platform.platform_id), 'active' : configEnabled(platform.platform_id)}">
                {{ configEnabled(platform.platform_id) ? 'Configure' : 'Enable'}}
            </a>
        </div>

        <!-- External Platforms -->
        <div ng-repeat="platform in platforms track by $index" class="config-square card-pane">
            <div class="logo" style="background-image: url({{platform.icon_url}});"></div>
            <br>
            <div class="name-indicator">
                <span class="platform-name">{{platform.name}}</span>
                <div class="toggled-indicator"
                    ng-class="{'active': configEnabled( platform.platform_id), 'inactive': !configEnabled( platform.platform_id)}"></div>
            </div>

            <a ng-if="!platform.route" href="{{getPlatformConfigUrl( platform)}}" class="btn btn-lg configure"
                ng-class="{ 'btn-primary' : configEnabled( platform.platform_id), 'active' : configEnabled( platform.platform_id)}">
                {{ configEnabled( platform.platform_id) ? 'Configure' : 'Enable'}}</a>
            <a ng-if="platform.route" ui-sref="{{platform.route}}" class="btn btn-lg configure"
                ng-class="{ 'btn-primary' : configEnabled( platform.platform_id), 'active' : configEnabled( platform.platform_id)}">
                {{ configEnabled( platform.platform_id) ? 'Configure' : 'Enable'}}</a>
        </div>
    </div>
</div>
