<div properties-context service-id="serviceId">
	<div ng-if="isReady()">
		<div class="header">

			<div class="row" class="service-container">
				<div class="col-md-2">
				</div>
				<div class="col-md-6 nopadding">
					<h1 class="text-muted">{{ ::getSelection().service.name }}
						<span title="Back to all services"
						      class="back-link-text">(<a href="#/convoworks-editor"
						>&lt;&lt; Back</a>)</span>

                        

<!-- <span style=" float: right; margin-right: 5px;">&nbsp;</span> -->

						<form ng-submit="saveChanges()" style=" float: right; margin-right: 5px;">
							<button type="submit" title="Save changes"
							        ng-disabled="!isServiceChanged()"
							        class="btn btn-primary btn-sm">
							<span> <i ng-class="{'spinning':loading}"
							          class="pull-left glyphicon glyphicon-refresh"></i></span> &nbsp;&nbsp;&nbsp; Save
							</button>
							<button type="button"
							        ng-click="revertClicked()"
							        title="Revert changes" ng-disabled="!isServiceChanged()"
							        class="btn btn-default btn-sm" style="">Revert</button>
						</form>
						
					   

						<div class="trash-container" convoworks-trash> drop here to delete </div>

					</h1>
				</div>
				<div class="col-md-4">
				    <h1 class="text-muted">
                        <form ng-submit="propagatePlatformChanges( 'amazon')" style=" float: left; margin-right: 5px;">
                            <button type="submit" title="Propagate changes to Amazon"
                                    ng-disabled="!isPlatformPropagateEnabled( 'amazon')"
                                    ng-if="isPlatformPropagateAvailable( 'amazon')"
                                    class="btn btn-warning btn-xs">
                            <span> <i ng-class="{'spinning':loading}"
                                      class="pull-left glyphicon glyphicon-share-alt"></i></span> &nbsp;&nbsp; Amazon
                            </button>
                        </form>
                        
                       <form ng-submit="propagatePlatformChanges( 'dialogflow')" style=" float: left; margin-right: 5px;">
                            <button type="submit" title="Propagate changes to Dialogflow"
                                    ng-disabled="!isPlatformPropagateEnabled( 'dialogflow')"
                                    ng-if="isPlatformPropagateAvailable( 'dialogflow')"
                                    class="btn btn-warning btn-xs">
                            <span> <i ng-class="{'spinning':loading}"
                                      class="pull-left glyphicon glyphicon-share-alt"></i></span> &nbsp;&nbsp; Dialogflow
                            </button>
                        </form>
                        
                        </h1>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2">
				<div class="toolbox-container">
					<convoworks-toolbox definitions="getDefinitions()" service="getSelection().service"></convoworks-toolbox>
				</div>
			</div>

			<div class="col-md-6 nopadding">
				<uib-tabset active="tabInfo.active">
					<uib-tab index="steps">
						<uib-tab-heading>
							Conversation 
						</uib-tab-heading>

							<div class="blocks-section-header">
								Blocks ({{getBlocks().length}})
								<button type="button" class="btn btn-default btn-xs icon-button"
								        ng-click="addNewBlock()" title="Add new step (conversation block)">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</div>
							<block-component ng-repeat="block in getBlocks() track by block.properties._component_id" block="block"></block-component>
					</uib-tab>

					<uib-tab index="subroutines">
						<uib-tab-heading>
							Fragments
						</uib-tab-heading>

						<div class="nopadding soubrutines">
							<div class="blocks-section-header">
								Fragments ({{getSubroutines().length}})

								<button type="button" class="btn btn-default btn-xs icon-button"
								        ng-click="showNewProcessSubroutine()" title="Add new process workflow fragment">
									<span class="glyphicon glyphicon-flash"></span>
								</button>
								
								<button type="button" class="btn btn-default btn-xs icon-button"
								        ng-click="showNewReadSubroutine()" title="Add new read workflow fragment">
									<span class="glyphicon glyphicon-tasks"></span>
								</button>
							</div>
							<subroutine-component ng-repeat="block in getSubroutines() track by block.properties._component_id" block="block"></subroutine-component>
						</div>
					</uib-tab>

					<uib-tab index="variables">
						<uib-tab-heading>
							Variables
						</uib-tab-heading>
						<div class="nopadding">
							<variables-editor service="getSelection().service"></variables-editor>
						</div>
					</uib-tab>

					<uib-tab index="contexts">
						<uib-tab-heading>
							Contexts
						</uib-tab-heading>
						<div>
							<context-elements-container service="getSelection().service"></context-elements-container>
						</div>
					</uib-tab>

					<uib-tab index="intents">
						<uib-tab-heading>
							Intents
						</uib-tab-heading>
                        <div>
                            <entity-editor service="getSelection().service"></entity-editor>
                        </div>
                        <hr>
                        <div>
                            <intent-editor service="getSelection().service"></intent-editor>
                        </div>
					</uib-tab>

					<uib-tab index="variables">
						<uib-tab-heading>
							Configs
						</uib-tab-heading>
						<div>
							<config-amazon-editor service="getSelection().service"></config-amazon-editor>
						</div>
						<div>
							<config-dialogflow-editor service="getSelection().service"></config-dialogflow-editor>
						</div>
						<div>
							<config-convo-chat-editor service="getSelection().service"></config-convo-chat-editor>
						</div>
					</uib-tab>

					<uib-tab index="variables">
						<uib-tab-heading>
							Releases
						</uib-tab-heading>
						<div style="padding: 0 10px;">
						  <fieldset>
							     <releases-editor service="getSelection().service"></releases-editor>
    					   </fieldset>
    					   <hr>
						  <fieldset>
                                <legend>Versions</legend>
    							<versions-editor service="getSelection().service"></versions-editor>
    					   </fieldset>
						</div>
					</uib-tab>

					<uib-tab index="preview">
						<uib-tab-heading>
							Preview
						</uib-tab-heading>
						<div>
							<preview-panel service="getSelection().service"></preview-panel>
						</div>
					</uib-tab>

					<uib-tab index="variables">
						<uib-tab-heading>
							Misc
						</uib-tab-heading>
						<div>
							<misc-panel service="getSelection().service"></misc-panel>
						</div>
					</uib-tab>

				</uib-tabset>
			</div>

			<div class="col-md-4">
				<label for="delegateNlp" class="control-label">
					NLP Delegate
					<select
						class="form-control"
						name="delegateNlp"
						id="delegateNlp"
						ng-model="delegateNlp">
							<option value="amazon">Amazon</option>
							<option value="dialogflow">Dialogflow</option>
					</select>
				</label>

				<div class="checkbox" style="float: right">
					<label for="enableDebug">
						<input id="enableDebug" type="checkbox" ng-model="toggleDebug"/>
						Enable Debug
					</label>
				</div>

				<convo-chatbox name="'Test'" device-id="getDeviceId()" service-id="serviceId" collapsed="true" mode="'admin'" toggle-debug="toggleDebug" delegate-nlp="delegateNlp" variables="variables" exception="exception"></convo-chatbox>

				<div style="font-family: monospace; border: 1px solid #bbb; padding: 0 10px; margin: 0 0 10px 0" class="panel-debug" ng-if="toggleDebug === true">
					<h3>Debug</h3>
					<div class="panel-debug-variables">
						<h4>Variables</h4>
						<div style="overflow: auto" class="panel-debug-variables-in-request">
							<p>Vars in request: </p>
							<pre>{{ variables.vars_in_request }}</pre>
						</div>
						<div style="overflow: auto" class="panel-debug-variables-in-session">
							<span>Vars in session: </span>
							<pre>{{ variables.vars_in_session }}</pre>
						</div>
						<div style="overflow: auto" class="panel-debug-variables-in-installation">
							<span>Vars in installation: </span>
							<pre>{{ variables.vars_in_installation }}</pre>
						</div>
					</div>

					<div style="word-break: break-word" ng-if="exception.exceptionMessage" class="panel-debug-exception">
						<h4>Exception</h4>
						<p>Exception message: <b>{{ exception.exceptionMessage }}</b></p>
						<span>Stack trace:</span>
						<ul class="list-unstyled">
							<li ng-repeat="message in exception.exceptionStackTrace">
								<p><b>#{{ message }}</b></p>
							</li>
						</ul>
					</div>
				</div>
				<div class="properties-editor-wrapper">
					<properties-editor
							ng-if="getSelection().component"
							component="getSelection().component"
							definition="getSelection().definition"
							service="getSelection().service"></properties-editor>
				</div>
			</div>
		</div>

	</div>
</div>