
<div ng-repeat="package in definitions">
	<div class="toolbox-package" ng-class="{'disabled': !isEnabled( package.namespace)}">
		
		<div class="title {{package.namespace}}" ng-click="toggleOpen( package.namespace)">
         {{package.namespace}} {{ isOpen( package.namespace) ? '&blacktriangledown;' : '&blacktriangleright;' }}
	                <div class="selector"><input type="checkbox" 
	        title="Enable or disable package for the service"
	        ng-click="toggleEnabled( package.namespace)" 
	        ng-checked="isEnabled( package.namespace)"></div>
        </div>
		
		<div ng-show="isOpen( package.namespace) && isEnabled( package.namespace)">
			<div ng-repeat="(name, values) in groupedDefinitions[package.namespace]">
				<span ng-if="values.length > 0" style="display: block; width: 100%; padding: 2px 3px; clear: both; margin: 2px 0;">
					{{ name }} ({{ values.length }})
				</span>
				<convoworks-toolbox-component
					ng-repeat="component_definition in values"
					component-definition="component_definition"
				></convoworks-toolbox-component>
			</div>
		</div>
	</div>
</div>




