
<div class="status">
    <span ng-class="getPropagationStatusIconClass()"></span>
    <span ng-repeat="allowedPlatform in enabledPlatforms">
        {{getPropagationStatusText(allowedPlatform)}}
    </span>
</div>
<div class="divider"></div>

<div class="auto-propagate" ng-if="enabledPlatforms.length > 0">
    <span class="auto-icon fa fa-sync-alt"
          ng-class="{ 'spinning': autoPropagateEnabled }"
          ng-click="toggleAutoPropagate()"
          title="Auto Propagate"></span>
    <div class="toggled-indicator"
         ng-class="{ 'active': autoPropagateEnabled, 'inactive': !autoPropagateEnabled }"
         ng-click="toggleAutoPropagate()"
         title="Auto Propagate"></div>
</div>
<div class="publish" ng-class="{ 'condensed': enabledPlatforms.length === 0 }">

    <div class="btn-group icon-button publish-group" uib-dropdown>
        <button type="button" 
                class="btn btn-outline-primary btn-xs border-radius-8"
                ng-class="{ 'dropdown-default': enabledPlatforms.length > 0, 'condensed-btn': enabledPlatforms.length === 0 }"
                ng-disabled="enabledPlatforms.length === 0" 
                ng-click="propagatePlatformChanges('all')"
                title="{{ enabledPlatforms.length === 0 ? 'No platforms available' : '' }}">
            <span ng-class="getPropagationIconClass()"></span>
            <span ng-if="enabledPlatforms.length > 0">{{ getPropagationText() }}</span>
        </button>
        <button type="button"
            class="btn btn-outline-primary btn-xs dropdown-toggle dropdown-toggle-split border-radius-8" 
            ng-if="enabledPlatforms.length > 0"
            ng-disabled="enabledPlatforms.length === 0"
            uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" ng-if="enabledPlatforms.length > 0">
            <li role="menuitem" ng-repeat="platform in enabledPlatforms track by platform.platform_id">
                <a ng-click="propagatePlatformChanges( platform.platform_id)"
                    ng-class="{'dropdown-item': !isPlatformPropagateAvailable( platform.platform_id), 'dropdown-item has-changes': isPlatformPropagateAvailable( platform.platform_id)}"
                    title="" href="javascript:void(0);">
                    Propagate to {{platform.name}}
                </a>
            </li>
        </ul>
    </div>

</div>
