<div class="group" ng-class="{'error':error}" style="padding: 0 8px">
    <h3>
        Service entities
        &nbsp;
        <button class="btn btn-primary btn-xs"  ng-click="selectEntity(addEntity())">
            <i class="glyphicon glyphicon-plus"></i> Add Entity
        </button>
    </h3>
        <!-- DUMMY INPUT -->
    <input type="text" ng-valid="true" style="display: none; pointer-events: none" tabindex="-1">

    <div ng-repeat="entity in service.entities track by $index">
        <div style="background-color: #337ab7; padding: 4px 6px; margin: 3px 0; color: white;">
            <a href="javascript:void(0);" ng-click="selectEntity($index)" style="color: white">
                {{ error ? "UnknownEntity" : entity.name }}
            </a>
            <button class="btn btn-danger btn-xs" ng-click="deleteEntity($index)" style="float: right">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
        </div>
        <div ng-if="isEntitySelected($index)">
            <div class="group">
                <textarea json-text required ng-model="service.entities[$index]" style="min-height:200px"></textarea>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Values for {{ entity.name }}</label>
                <span class="helper">
                    {{ error? "Invalid JSON format!" : "Raw JSON data for current entity" }}
                </span>
            </div>
        </div>
    </div>
</div>