<div class="header">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active">
                <a class="btn btn-primary" ng-click="createService()">Add new service</a>
            </li>
        </ul>
    </nav>
    <h1 class="text-muted">Services</h1>
</div>
<!-- <pre>
{{ availableServices | json }}
</pre> -->
<div class="row" ng-if="ready">
    <div ng-repeat="service in availableServices" class="col-md-12 service" style="text-align: left;">
        <a ng-href="#!/convoworks-editor/{{ service.service_id }}">
            <span class="name">{{ service.name }}</span>
            &nbsp;
            <span>
                <em ng-if="service.owner">
                    {{ service.owner }}
                </em>
                <em ng-if="!service.owner">
                    No owner
                </em>
            </span>
            <br>
            <span>
                {{ publishedOn(service).length > 0 ? "Published on " + publishedOn(service).join(', ') : "Not published yet"; }}
            </span>
        </a>
    </div>
</div>