<div class="wide-panel">
    <div class="card-pane">
        <fieldset>
            <legend>
                <a ui-sref="convoworks-editor-service.configuration" class="back">
                    <i class="fa fa-arrow-left"></i>
                </a>&nbsp;WordPress Hooks
            </legend>
            <form class="form-horizontal" ng-submit="updateConfig()" ng-if="!hideAll()">
                <!-- DUMMY INPUT -->
                <input type="text" ng-valid="true" style="display: none; pointer-events: none" tabindex="-1">
                
                <div ng-if="isNew()">
                    <div class="convo-form-group">
                            WordPress hooks are not enabled yet. Press Enable to be able to handle WordPress hooks in your service.
                    </div>
                    <div class="convo-form-group" ng-if="isNew()">
                        <div class="button-group">
                            <button type="submit" title="Create Amazon configuration" class="btn btn-primary btn-sm submit">
                                Enable
                            </button>
                            <a ui-sref="convoworks-editor-service.configuration" title="Revert changes" class="cancel">
                                Cancel
                            </a>
                        </div>
                    </div>
                </div>

                <div ng-if="!isNew()">
                    <div class="convo-form-group">
                        <div>
                            WordPress hooks are enabled for your service.
                        </div>
                    </div>
                    <div class="convo-form-group">
    
                        <div class="button-group">
                            <button type="button" ng-click="deleteConfig()" 
                                title="" class="btn btn-danger btn-sm submit">
                                Delete Configuration
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </fieldset>
    </div>
</div>
