$color__ops-white: #FFFFFF;
$color__ops-black: #000000;
$color__ops-gray: #858585;
$color__ops-blue: #86939E;

$color__ops-borderLight: #f1f1f1;
$color__ops-borderBlue: #e5e9ef;
$color__ops-grayLight: #fbfbfd;

$color__ops-logoBlue: #23b3d7;
$color__ops-darkBlue: #43484D;

$color__ops-green: #00d88a;
$color__ops-red: #f87457;

/** Convo Digital Style Guide - Branding */
$color_op-blue: #2346CA;
$color_op-blueDark: #09227D;
$color_op-blueGray: #354068;
$color_op-blueAccent: #3A8EFF;
$color_op-black: #161616;
$color_op-green: #09D685;
$color_op-yellow: #FFBE08;
