<div style="padding: 0 10px;">

        <fieldset>
            <legend>Dialogflow</legend>
                
                <div  ng-if="hideAll()" style="padding: 0 10px 20px 0; text-align: right;">
                    <button ng-click="start()" 
                        type="button" title="Click to enter configuration data" class="btn btn-primary btn-lg">
                        Enable
                    </button>
                </div>
            
            
                <form class="form-horizontal" ng-submit="updateConfig()" ng-if="!hideAll()">
            
                <!-- DUMMY INPUT -->
                <input type="text" ng-valid="true" style="display: none; pointer-events: none" tabindex="-1">
           
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="config-mode">Mode</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="config.mode" id="config-mode">
                            <option value="manual">MANUAL
                            </option>
                            <option value="auto">AUTO
                            </option>
                        </select>
                        <span class="help-block" ng-if="config.mode === 'auto'">
                            Automatically propagates changes to Dialoglfow</span>
                        <span class="help-block" ng-if="config.mode === 'manual'">Intents are manulally defined on Dialogflow side</span>
                    </div>
                    
                </div>
                
                <div class="form-group" ng-if="config.mode === 'auto'">
                    <label for="dialogflow-config-service-account" class="col-sm-2 control-label">Service Account JSON</label>
                    <div class="col-sm-10">
                        <textarea  class="form-control" id="dialogflow-config-service-account" placeholder="" ng-model="config.serviceAccount"></textarea>
                    </div>
                </div>
                <div class="form-group" ng-if="config.mode === 'auto'">
                    <label for="dialogflow-config-agent-name" class="col-sm-2 control-label">Agent Name</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" id="dialogflow-config-agent-name" placeholder="" ng-model="config.name">
                    </div>
                </div>
                <div class="form-group" ng-if="config.mode === 'auto'">
                    <label for="dialogflow-config-agent-desc" class="col-sm-2 control-label">Agent Description</label>
                    <div class="col-sm-10">
                    <textarea 
                        cols="80"
                        cols="40"
                        class="form-control"
                        id="dialogflow-config-agent-desc"
                        placeholder=""
                        ng-model="config.description"></textarea>
                    </div>
                </div>
                <div class="form-group" ng-if="config.mode === 'auto'">
                    <label for="dialogflow-config-agent-avatar" class="col-sm-2 control-label">Agent Avatar</label>
                    <div class="col-sm-10">
                    <input type="file" class="form-control" id="dialogflow-config-agent-avatar"
                        ngf-drop="onFileUpload('dialogflow.avatar', $file)" ng-model="dialogflow.avatar"
                        ngf-select="onFileUpload('dialogflow.avatar', $file)" ngf-multiple="false">
                    <img ng-src="{{ getMedia('dialogflow', 'avatar') }}" width="300" height="auto">
                    </div>
                </div>
    
                
                <div class="form-group" ng-if="!isNew()">
                    <div class="col-sm-12 text-right">
                        <button type="submit" title="Save changes" ng-disabled="!isConfigChanged()" class="btn btn-primary btn-sm">
                            Save Configuration
                        </button>
                        <button type="button" ng-click="revertConfig()" title="Revert changes" ng-disabled="!isConfigChanged()" class="btn btn-default btn-sm">
                            Revert
                        </button>
                    </div>
                </div>    
                
                <div class="form-group" ng-if="isNew()">
                    <div class="col-sm-12 text-right">
                        <button type="submit" title="Create Amazon configuration" class="btn btn-primary btn-sm">
                            Create
                        </button>
                        <button type="button" ng-click="cancel()" title="Revert changes" class="btn btn-default btn-sm">
                            Cancel
                        </button>
                    </div>
                </div>                    
    
            </form>

    </fieldset>
    
</div>