<div style="padding: 0 10px;">

        <fieldset>
            <legend>Amazon Alexa</legend>
                
                <div style="padding: 0 10px 20px 0; text-align: right;">
                    <button ng-if="hideAll()" ng-click="start()" 
                        type="button" title="Click to enter configuration data" class="btn btn-primary btn-lg">
                        Enable
                    </button>
                </div>
            
            
                <form class="form-horizontal" ng-submit="updateConfig()" ng-if="!hideAll()">
            
                <!-- DUMMY INPUT -->
                <input type="text" ng-valid="true" style="display: none; pointer-events: none" tabindex="-1">
           
                <div class="form-group">
                    <label for="config-invocation" class="col-sm-2 control-label">Invocation</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" id="config-invocation" placeholder="" ng-model="config.invocation">
                    </div>
                </div>
                
                <div class="form-group" ng-class="{ 'has-error' : !isModeValid()}">
                    <label class="col-sm-2 control-label" for="config-mode">Mode</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="config.mode" id="config-mode">
                            <option value="manual">MANUAL
                            </option>
                            <option value="auto">AUTO
                            </option>
                        </select>
                        <span class="help-block" ng-if="!isModeValid()"><strong>You have to link account to enable AUTO mode</strong></span>
                        <span class="help-block" ng-if="config.mode === 'auto'">
                            Automatically propagates changes to Amazon. Requires account to be linked with Amazon</span>
                        <span class="help-block" ng-if="config.mode === 'manual'">Intents are manulally defined on Amazon side</span>
                    </div>
                    
                </div>
                
                <div class="form-group">
                    <label for="config-app-id" class="col-sm-2 control-label">Skill ID</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" id="config-app-id" placeholder="" ng-model="config.app_id">
                    <span class="help-block" ng-if="config.mode === 'auto' && isNew()">
                            If you already created the skill, please enter Skill-ID. 
                            If you leave it blank, it will autamatically create the new skill on Amazon side</span>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : !isModeValid()}">
                    <label class="col-sm-2 control-label" for="config-auto-display">Auto Display</label>
                    <div class="col-sm-10">
                        <div class="checkbox">
                            <label for="config-auto-display">
                                <input type="checkbox" ng-model="config.auto_display" id="config-auto-display"/>
                                Automatically displays the text in an card view on devices with display
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-if="!isNew()">
                    <div class="col-sm-12 text-right">
                        <button type="submit" title="Save changes" ng-disabled="!isConfigChanged()" class="btn btn-primary btn-sm">
                            Save Configuration
                        </button>
                        <button type="button" ng-click="revertConfig()" title="Revert changes" ng-disabled="!isConfigChanged()" class="btn btn-default btn-sm">
                            Revert
                        </button>
                    </div>
                </div>    
                
                <div class="form-group" ng-if="isNew()">
                    <div class="col-sm-12 text-right">
                        <button type="submit" title="Create Amazon configuration" class="btn btn-primary btn-sm" ng-disabled="!isModeValid()">
                            Create
                        </button>
                        <button type="button" ng-click="cancel()" title="Revert changes" class="btn btn-default btn-sm">
                            Cancel
                        </button>
                    </div>
                </div>                    
    
            </form>

    </fieldset>
    
</div>