<form ng-submit="create()">
	<div class="modal-listing-source">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Add new service</h4>
				Enter a name for your service and add it.
			</div>
			<div class="modal-body">

				<div class="form-group">
					<label for="service_name">Name:</label>
					<input type="text" class="form-control" id="service_name" placeholder="Enter service name"
					       ng-model="new_service.name" required>
				</div>

				<div class="form-group">
					<label for="service_template">Template:</label>
                    <select class="form-control" required ng-model="new_service.template_id" id="service_template">
                        <option ng-repeat="template in templates"
                                value="{{ template.template_id }}">
                             {{ template.name }} [{{ template.template_id }}]
                        </option>
                    </select>
                    
				</div>

			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary" title="Create new service">Submit</button>
				<button type="button" class="btn btn-default" ng-click="cancel()" title="Cancel creating">Cancel</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</form>