<div>
    <h3>Preview panel</h3>
    <hr>
    <div ng-if="!ready">
        Loading...
    </div>
    <div ng-if="ready">
        <div class="preview-block" ng-repeat="block in preview.blocks track by block.block_id">
            <span class="block-id">{{ block.block_id.toLowerCase() }}</span>
            <span ng-if="block.bot_says.length > 0">
                <h4>Bot says:</h4>
                <div class="preview-component" ng-repeat="component in block.bot_says track by component.component_id">
                    <ul class="message-list">
                        <li class="clearfix" ng-repeat="message in component.text track by $index">
                            <span class="preview-message bot-says">
                                {{ message.text }}
                            </span>
                        </li>
                    </ul>
                </div>
            </span>
            <span ng-if="block.user_says.length > 0">
                <hr>
                <h4 style="text-align: right;">User says:</h4>
                <div class="preview-component" ng-repeat="component in block.user_says track by component.component_id">
                    <ul class="message-list">
                        <li class="clearfix" ng-repeat="message in messages = (messages ||  getUserMessageGroups(component.text)) track by $index">
                            <span class="preview-message user-says">
                                <span ng-repeat="text in message.text">
                                    {{ text }} <br>
                                </span>
                                <span ng-if="message.intent"
                                    style="border-top: 1px solid lightgray; font-family: monospace">
                                    {{ message.intent }}
                                </span>
                            </span>
                        </li>
                    </ul>
                </div>
            </span>
            <span ng-if="block.bot_responds.length > 0">
                <hr>
                <h4>Bot responds:</h4>
                <div class="preview-component"
                    ng-repeat="component in block.bot_responds track by component.component_id">
                    <ul class="message-list">
                        <li class="clearfix" ng-repeat="message in component.text track by $index">
                            <span class="preview-message bot-says">
                                {{ message.text }}
                            </span>
                        </li>
                    </ul>
                </div>
            </span>
        </div>
    </div>
</div>