<div class="properties-editor">
    <h4 class="editor-title">{{ getComponentName()}}</h4>
    <p class="editor-component-description" ng-if="getBlockId()">ID:{{ getBlockId() }}</p>
    <p class="editor-component-description">
        {{ getComponentDescription() }}
    </p>

    <uib-tabset >
        <uib-tab heading="Help" ng-if="checkComponentHelp()">
            <div style="word-break: break-word" ng-bind-html="help"></div>
        </uib-tab>
        <uib-tab heading="Properties">
            <form class="properties-editor-form">
                <div ng-repeat="(key, val) in definition.component_properties track by key"
                     ng-switch="definition.component_properties[key].editor_type">

                    <intent-utterance-editor
                            ng-switch-when="intent_utterances"
                            key="key"
                            service="service"
                            property-definition="definition.component_properties[key]"
                            component="component"
                    ></intent-utterance-editor>

                    <system-intent-editor
                            ng-switch-when="system_intent"
                            key="key"
                            service="service"
                            property-definition="definition.component_properties[key]"
                            component="component"
                    ></system-intent-editor>

                    <convo-intent-editor
                            ng-switch-when="convo_intent"
                            key="key"
                            service="service"
                            property-definition="definition.component_properties[key]"
                            component="component"
                    ></convo-intent-editor>

                    <div class="group"
                         ng-switch-when="utterances">

                        <button class="add-utterance"
                                title="Add an utterance"
                                ng-click="addUtterance()">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>

                        <!-- DUMMY INPUT -->
                        <input type="text" style="display: none; pointer-events: none;" ng-valid="true">

                        <div class="utterance" ng-repeat="(i, val) in component.properties.utterances track by i">
                            <input type="text" ng-model="component.properties.utterances[i]">
                            <span class="bar"></span>
                            <span class="highlight"></span>
                            <button class="remove-utterance"
                                    title="Remove this utterance"
                                    type="button"
                                    ng-click="removeUtterance( i)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </div>

                        <label>{{definition.component_properties[key].name}}</label>
                        <span class="helper">{{definition.component_properties[key].description}}</span>

                    </div>


                    <div class="group"
                         ng-switch-when="ssml">

                        <textarea required ng-model="component.properties[key]"></textarea>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>{{ definition.component_properties[key].name }}</label>
                        <span class="helper">{{ definition.component_properties[key].description }}</span>

                    </div>

                    <div class="group"
                         ng-switch-when="desc">

                        <textarea required ng-model="component.properties[key]"></textarea>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>{{ definition.component_properties[key].name }}</label>
                        <span class="helper">{{ definition.component_properties[key].description }}</span>

                    </div>

                    <div class="group"
                         ng-switch-when="text"
                         ng-if="!!definition.component_properties[key].editor_properties.multiple">

                        <div ng-if="isObject( component.properties[key])" ng-repeat="( name, val) in component.properties[key] track by name">
                            <label>{{ name }}</label> &mdash; <input type="text" ng-model="component.properties[key][name]">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                        </div>

                        <span class="helper"
                              ng-if="isObject( component.properties[key])">
                    {{ definition.component_properties[key].description }}
                </span>

                        <div ng-if="!isObject( component.properties[key])">
                            <input type="text" ng-model="component.properties[key]">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>{{ definition.component_properties[key].name }}</label>
                            <span class="helper">{{ definition.component_properties[key].description }}</span>
                        </div>

                    </div>

                    <div class="group"
                         ng-switch-when="text"
                         ng-if="!definition.component_properties[key].editor_properties.multiple">

                        <input type="text" required ng-model="component.properties[key]">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>{{ definition.component_properties[key].name }}</label>
                        <span class="helper">{{ definition.component_properties[key].description }}</span>

                    </div>

                    <div class="group"
                         ng-switch-when="password"
                         ng-if="!definition.component_properties[key].editor_properties.multiple">

                        <input type="password" ng-model="component.properties[key]">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>{{ definition.component_properties[key].name }}</label>
                        <span class="helper">{{ definition.component_properties[key].description }}</span>

                    </div>

                    <div class="group"
                         ng-switch-when="slot_name"
                         ng-if="!definition.component_properties[key].editor_properties.multiple">

                        <input type="text" ng-model="component.properties[key]">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>{{ definition.component_properties[key].name }}</label>
                        <span class="helper">{{ definition.component_properties[key].description }}</span>

                    </div>

                    <div class="group"
                         ng-switch-when="boolean">

                        <input type="checkbox"
                               ng-model="component.properties[key]">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>{{ definition.component_properties[key].name }}</label>
                        <span class="helper">{{ definition.component_properties[key].description }}</span>

                    </div>

                    <div class="group"
                         ng-switch-when="select"
                         ng-if="!!definition.component_properties[key].editor_properties.multiple">

                        <select required multiple ng-model="component.properties[key]">
                            <option ng-repeat="(name, value) in definition.component_properties[key].editor_properties.options track by name"
                                    value="{{ value }}">

                                {{ value }}

                            </option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>{{ definition.component_properties[key].name }}</label>
                        <span class="helper">{{ definition.component_properties[key].description }}</span>

                    </div>

                    <div class="group"
                         ng-switch-when="select"
                         ng-if="!definition.component_properties[key].editor_properties.multiple">


                        <select required ng-model="component.properties[key]"
                                ng-options="maybeInt( name) as value for ( name, value) in definition.component_properties[key].editor_properties.options">
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>{{ definition.component_properties[key].name }}</label>
                        <span class="helper">{{ definition.component_properties[key].description }}</span>

                    </div>

                    <div class="group"
                         ng-switch-when="params"
                         ng-if="!!definition.component_properties[key].editor_properties.multiple">

                        <button class="add-param-pair"
                                title="Add a parameter"
                                ng-click="addParamPair( keyToIdentifier( key))">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>

                        <!-- DUMMY INPUT -->
                        <input type="text" style="display: none; pointer-events: none;" ng-valid="true">

                        <div class="param-pair"
                             ng-repeat="pair in paramBuffer[ keyToIdentifier( key)] track by $index" style="margin: .5em auto;">

                            <input type="text" required style="font-family: 'Consolas', Monospace" ng-model="pair.key">:
                            <input type="text" required style="font-family: 'Consolas', Monospace" ng-model="pair.value">
                            <span class="highlight" style="display: inline-block;"></span>
                            <span class="bar"></span>

                            <button class="remove-param-pair"
                                    title="Remove this parameter"
                                    type="button"
                                    ng-click="removeParamPair( keyToIdentifier( key), $index)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>

                        </div>

                        <label>{{ definition.component_properties[key].name }}</label>
                        <span class="helper">{{ definition.component_properties[key].description }}</span>

                    </div>

                    <div class="group"
                         ng-switch-when="params"
                         ng-if="!definition.component_properties[key].editor_properties.multiple">

                        <input type="text" required style="font-family: 'Consolas', Monospace" ng-model="component.properties[key]">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>{{ definition.component_properties[key].name }}</label>
                        <span class="helper">{{ definition.component_properties[key].description }}</span>

                    </div>


                    <div class="group"
                         ng-switch-when="read_fragment">


                        <select ng-model="component.properties[key]">
                            <option ng-repeat="subroutine in readSubroutines track by subroutine.id"
                                    value="{{ subroutine.id }}">
                                {{ subroutine.name }}
                            </option>
                        </select>

                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>{{ definition.component_properties[key].name }}</label>
                        <span class="helper">{{ definition.component_properties[key].description }}</span>

                    </div>

                    <div class="group"
                         ng-switch-when="process_fragment">

                        <select ng-model="component.properties[key]">
                            <option ng-repeat="subroutine in processSubroutines track by subroutine.id"
                                    value="{{ subroutine.id }}">
                                {{ subroutine.name }}
                            </option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>{{ definition.component_properties[key].name }}</label>
                        <span class="helper">{{ definition.component_properties[key].description }}</span>

                    </div>

                    <div class="group"
                         ng-switch-when="select_block">

                        <!--<select required-->
                        <!--ng-model="component.properties[key]"-->
                        <!--ng-options="block for block in userBlocks"></select>-->
                        <select ng-model="component.properties[key]">
                            <option ng-repeat="block in userBlocks track by block.id"
                                    value="{{ block.id }}">
                                {{ block.name }}
                            </option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>{{ definition.component_properties[key].name }}</label>
                        <span class="helper">{{ definition.component_properties[key].description }}</span>

                    </div>

                </div>
            </form>
        </uib-tab>
    </uib-tabset>
    <button class="delete-component-button"
            ng-click="removeComponent()"
            ng-if="!isSystemBlock()"
            title="Delete this component">
        Delete component
    </button>
</div>