<div class="selectable-component block"
	ng-mouseover="over=true; $event.stopPropagation()" 
	ng-mouseout="over=false; $event.stopPropagation()"
	ng-class="{ 'over' : over, 'selected' : isSelected()}" 
	style="max-width: 100%" ng-if="ready">
    <h3 title="{{ ::definition.description}}" class="block-title">
	    {{ getComponentTitle() }}
	    <span>&nbsp;
			<i class="glyphicon glyphicon-chevron-up" ng-if="canMoveUp" ng-click="moveUp(); $event.preventDefault(); $event.stopPropagation();"
                title="Move fragment up"></i>
			<i class="glyphicon glyphicon-chevron-down" ng-if="canMoveDown" ng-click="moveDown(); $event.preventDefault(); $event.stopPropagation();"
                title="Move fragment down"></i>
		</span>
    </h3>

    <convoworks-components-container
	   	 component="block"
		 property-name="propertyName"
		 property-definition="propertyDefinition"
		 ></convoworks-components-container>
    
</div>