<div>
    <h1 ng-if="loading">Loading...</h1>

    <div ng-if="!loading">
        <h1>Platform Configuration</h1>

        <form class="form-horizontal" ng-submit="updateConfig()">
            <input type="text" ng-valid="true" style="display: none; pointer-events: none" tabindex="-1">

            <fieldset>
                <legend>Amazon</legend>

                <div class="form-group">
                    <div class="col-sm-8">
                        <label for="amazon_client_id" class="col-sm-2 control-label">
                            Client ID
                        </label>
                        <div class="col-sm-10">
                            <input type="text" name="amazon_client_id" id="amazon_client_id"
                                class="form-control" ng-model="config.amazon.client_id">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-8">
                        <label for="amazon_client-secret" class="col-sm-2 control-label">
                            Client Secret
                        </label>
                        <div class="col-sm-10">
                            <input type="text" name="amazon_client_secret" id="amazon_client_secret"
                                class="form-control" ng-model="config.amazon.client_secret">
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" title="Save changes" ng-disabled="!isConfigChanged() || loading" class="btn btn-primary btn-sm">
                        Save Configurations
                    </button>
                    <button type="button" ng-click="revertConfig()" title="Revert changes" ng-disabled="!isConfigChanged() || loading" class="btn btn-default btn-sm">
                        Revert
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>