<div class="wide-panel full" ng-class="{'error':error}">
    <div class="title">
        <h3>Update entity - {{ current_entity.name }}</h3>
    </div>
    <div class="card-pane">
        <entity-editor entity="current_entity" on-update="onUpdate"></entity-editor>
    </div>
    <div class="footer-actions">
        <button type="button" title="Save changes"
                ng-disabled="!isEntityChanged() || !valid()"
                class="btn btn-md btn-primary" ng-click="submitEntity()">
            Save
        </button>
        <button type="button" ng-click="cancel()" title="Cancel changes"
                class="btn btn-md btn-primary cancel">Cancel</button>
    </div>
</div>
