.convoworks {
    .variables-editor {
        display: flex;
        flex-flow: column nowrap;
    }

    .variables-editor > .title {
        display: flex;
        flex-flow: row nowrap;

        margin-bottom: 20px;
    }

    .variables-editor > .title > h4 {
        margin-right: 10px;
    }

    .variables-editor > .variables {
        display: flex;
        flex-flow: column nowrap;
    }

    .variables-editor > .variables > .pair {
        display: flex;
        flex-flow: row nowrap;

        align-items: center;
        justify-content: flex-start;
    }

    .variables-editor > .variables > .pair > input.convo-form-input {
        flex: 0 0 33%;
        max-width: 33%;
    }

    .variables-editor > .variables > .pair > textarea.convo-form-input {
        flex: 1 1 0;
        min-width: 0;
    }

    .variables-editor > .variables > .pair > .colon {
        font-size: 18px;
        font-weight: bold;

        margin: 0 6px;
    }

    .variables-editor > .variables > .pair > .remove {
        padding: 2px 5px;
        border-radius: 50%;
        font-size: 9px;

        background-color: #bababa;
        color: white;

        margin-left: 9px;

        transition: background-color 150ms ease, color 150ms ease;
    }

    .variables-editor > .variables > .pair > .remove:hover {
        background-color: #b90007;
        color: #ffffff;
    }
}


