<div class="selectable-component block" ng-mouseover="over=true; $event.stopPropagation()"
	ng-mouseout="over=false; $event.stopPropagation()"
	ng-class="{ 'system' : isSysBlock, 'reader' : isReadBlock, 'over' : over, 'selected' : isSelected()}"
	style="max-width: 100%" ng-if="ready">
	<h3 class="block-title" title="{{ ::definition.description}}">
		<input type="checkbox" style="float: left"
		ng-if="isSysBlock || isSysProcessors"
		ng-click="$event.stopPropagation()"
		ng-model="isSysBlockOpen.value"
		title="Use this system block in workflow">
		{{ getComponentTitle() }}
		<span ng-if="!isSysBlock">&nbsp;
			<i class="glyphicon glyphicon-chevron-up" ng-if="canMoveUp" ng-click="moveUp(); $event.preventDefault(); $event.stopPropagation();"
                title="Move block up"></i>
			<i class="glyphicon glyphicon-chevron-down" ng-if="canMoveDown" ng-click="moveDown(); $event.preventDefault(); $event.stopPropagation();"
                title="Move block down"></i>
		</span>
	</h3>

	<div ng-if="((isSysBlock || isSysProcessors) && isSysBlockOpen.value) || !(isSysBlock || isSysProcessors)">
		<convoworks-components-container ng-if="!isSysProcessors" component="block" property-name="'elements'"
			property-definition="definition.component_properties.elements"></convoworks-components-container>
		<hr style="margin: 12px 4px; border-color: #ddd;">
		<convoworks-components-container ng-if="!isReadBlock && !isSessionEnd" component="block"
			property-name="'processors'" property-definition="definition.component_properties.processors">
		</convoworks-components-container>

		<convoworks-components-container ng-if="!isReadBlock && !isSessionEnd && !isSysProcessors" component="block"
			property-name="'fallback'" property-definition="definition.component_properties.fallback">
		</convoworks-components-container>
	</div>
</div>