<div class="group variables-editor">
    <button type="button"
            class="add-variable"
            ng-click="addVariablesPair()"
            style="right: 20px;">
        <i class="glyphicon glyphicon-plus"></i>
    </button>

    <!-- DUMMY INPUT -->
    <input type="text" ng-valid="true" style="display: none; pointer-events: none" tabindex="-1">

    <div class="variable" ng-repeat="(index, pair) in variables_buffer track by index">
        <input type="text" ng-model="pair.key">:
        <input type="text" ng-model="pair.value">
        <span class="bar"></span>
        <span class="highlight"></span>

        <button class="remove-variable" ng-click="removeVariablesPair( index)">
            <i class="glyphicon glyphicon-remove"></i>
        </button>
    </div>

    <label style="font-size: 16px !important; padding-left: 0.5em;">Variables for service <span style="font-variant: all-petite-caps; font-style: italic;">{{ service.name }}</span></label>
</div>